In [1]:
import os.path

from google.auth.transport.requests import Request
from google.oauth2.credentials import Credentials
from google_auth_oauthlib.flow import InstalledAppFlow
from googleapiclient.discovery import build
from googleapiclient.errors import HttpError

In [2]:
SCOPES = ['https://www.googleapis.com/auth/classroom.courses.readonly', # View your Google Classroom classes.
          'https://www.googleapis.com/auth/classroom.rosters', # Manage your Google Classroom class rosters.
          'https://www.googleapis.com/auth/classroom.profile.emails', # View the email addresses of people in your classes.
          'https://www.googleapis.com/auth/classroom.topics', #See, create, and edit topics in Google Classroom.
          'https://www.googleapis.com/auth/classroom.coursework.students', # Manage coursework and grades for students
          'https://www.googleapis.com/auth/classroom.courseworkmaterials', # See, edit, and create classwork materials in Google Classroom.
          'https://www.googleapis.com/auth/spreadsheets.readonly'] # See all your Google Sheets spreadsheets.

In [3]:
creds = None

if os.path.exists('token.json'):
    creds = Credentials.from_authorized_user_file('token.json', SCOPES)
# If there are no (valid) credentials available, let the user log in.
if not creds or not creds.valid:
    if creds and creds.expired and creds.refresh_token:
        creds.refresh(Request())
    else:
        flow = InstalledAppFlow.from_client_secrets_file(
            'credentials.json', SCOPES)
        creds = flow.run_local_server(port=0)
    # Save the credentials for the next run
    with open('token.json', 'w') as token:
        token.write(creds.to_json())

service = build('classroom', 'v1', credentials=creds)

# Course

In [16]:
# Call the Classroom API
results = service.courses().list(pageSize=5).execute()
courses = results.get('courses', [])

if not courses:
    print('No courses found.')

# Prints the names of the first 5 courses.
print('Courses:')
for course in courses:
    print(f"- {course['name']}")

Courses:
- Automation
- Wizard Data Analytics
- Vulcan Machine Learning
- Vulcan Data Visualization
- Vulcan Data Analytics

In [20]:
course_input = input("Enter Google Classroom Class Name : ")
course_lowercase = course_input.lower()
course_id = None

for course in courses:
    if course_lowercase == course['name'].lower():
        course_id = course['id']
        break

if course_id == None:
    raise Exception(f"{course_input} course not found")

else:
    print(f'{course_input} found with ID {course_id}')

automation found with ID 616952989203

# Score Academy

In [6]:
# Vulcan
SCORE_ACADEMY_ID = '1cGJ0pn9k9gKCBnceWVwaL9D7BBDMNjLh8uPYlaBlJi8'
GRADE_RANGE = ['Academy: Batch 22!D:D', 'Academy: Batch 22!E:G', 'Academy: Batch 22!L:Q']

In [7]:
# Dummy
SCORE_ACADEMY_ID = '1vuBn9uHFco6DUxJhvt042ZgRu4q1i61j_DvOcArP31I'
GRADE_RANGE = 'Score Dummy!A:D'

In [18]:
try:
    service = build('sheets', 'v4', credentials=creds)

    # Call the Sheets API
    sheet = service.spreadsheets().values().batchGet(spreadsheetId=SCORE_ACADEMY_ID,
                                                     ranges=GRADE_RANGE).execute()
    values = sheet.get('valueRanges', [])
        
except HttpError as err:
    print(err)

Dummy Score Academy

In [19]:
import pandas as pd

email = pd.DataFrame(values[0].get('values'))

df = pd.concat([email], axis=1)
df.columns = df.iloc[0]
df.drop(index=0, inplace=True)

df

0              Email grade1 grade2 grade 3
1    diva@algorit.ma      1      2       3
2  yusraf@algorit.ma      2      2       2
3   kevin@algorit.ma      3      2       1

Vulcan Score Academy

In [66]:
import pandas as pd

email = pd.DataFrame(values[0].get('values'))
grade_dv = pd.DataFrame(values[1].get('values'))
grade_ml = pd.DataFrame(values[2].get('values'))

df = pd.concat([email, grade_dv, grade_ml], axis=1)
df.columns = df.iloc[0]
df.drop(index=0, inplace=True)

df

,Email,P4DS-PS Quiz,DV Quiz,IP Quiz,RM Quiz,C1 Quiz,C2 Quiz,UL Quiz,TS Quiz,NN Quiz
1,rusdipermana2@gmail.com,4,2,1,4,4,4,4,4,4
2,alfonsa.cindy@kapalapi.co.id,4,2,1,4,4,4,4,4,4
3,carli@fli.co.id,4,2,1,4,4,4,4,4,4
4,christopher.aninditya.a@gmail.com,4,2,1,4,4,4,4,4,4
5,ambarishalayang@gmail.com,4,2,1,4,4,4,4,4,4
6,wnofrizal46@gmail.com,4,2,1,4,4,4,4,4,4
7,dianaoffice35@gmail.com,4,2,1,4,4,4,4,4,4
8,michael.chen@kapalapi.co.id,4,2,1,4,4,4,4,4,4
9,qa3@kapalapi.co.id,4,2,1,4,4,4,4,4,4
10,dhita.tyo0405@gmail.com,4,2,1,0,0,4,0,4,4
11,ricardo.julian@kapalapi.co.id,4,2,1,4,4,4,4,4,4
12,ppic.op.sda@kapalapi.co.id,4,2,1,4,0,4,0,0,4
13,beladina.novia@gmail.com,4,2,1,4,4,4,0,4,4
14,aninditaksma@gmail.com,4,2,1,4,4,4,4,4,4
15,brandantitor@gmail.com,4,0,1,4,4,4,4,4,4
16,afrillian.rudi@fli.co.id,0,0,1,4,4,4,4,4,4
17,renaldirefsy@gmail.com,4,0,1,4,0,0,0,4,0
18,cahyo.widodo@agel.co.id,4,0,1,4,4,4,4,4,4
19,teguh@agel.co.id,4,0,1,4,0,4,4,4,4
20,ira@agel.co.id,0,0,0,0,0,0,0,0,0
21,amrisidiq@gmail.com,4,2,1,4,4,4,4,4,4
22,thegreatardian@gmail.com,4,2,1,4,4,4,4,4,4
23,kintari2000@gmail.com,4,2,1,4,4,4,4,4,4
24,Richard.susanto1620@gmail.com,4,2,1,0,0,0,0,0,0
25,deforuu@gmail.com,4,2,1,4,4,4,4,4,4
26,nadhif.naufal@gmail.com,4,2,1,4,4,4,4,4,4
27,sahidhindralaksana@gmail.com,4,2,1,0,4,4,4,4,4
28,gittacarmenia@gmail.com,4,2,1,4,4,4,4,4,4
29,akmalgoritma@gmail.com,4,2,1,4,4,4,4,4,4
30,yuliristiana12@gmail.com,4,2,1,0,4,4,4,4,0
31,bayaubay.83@gmail.com,4,2,1,0,0,0,0,0,0
32,go4earl@yahoo.co.uk,4,2,1,4,0,4,4,4,4
33,isaiahabib@gmail.com,4,2,1,4,4,4,0,0,4
34,afifmhd23@gmail.com,4,2,1,4,0,4,4,4,4
35,matthewbradleylo2002@gmail.com,4,2,0,0,4,0,0,0,0
36,nadyasarinastiti@gmail.com,4,2,1,4,4,4,4,4,4
37,hanifahp.lestari@gmail.com,4,2,1,4,4,4,4,4,4
38,ratnadewi.monica@gmail.com,4,TIDAK IKUT DV,None,4,4,4,4,4,4
39,ekapujawardhana@gmail.com,0,2,1,0,0,0,0,0,0
40,brian.a.gunardi@gmail.com,0,0,0,0,0,0,0,0,0
41,edwinraisss@gmail.com,4,0,1,4,4,4,4,4,4
42,valmaythrh@gmail.com,4,2,1,4,4,4,4,4,4
43,nugra.aditya96@gmail.com,4,2,1,4,4,4,4,4,4
44,lonexindo@yahoo.com,4,2,1,0,4,4,0,4,4
45,azwar.aziz79@gmail.com,4,2,1,4,4,0,4,4,4
46,bima.35.bim@gmail.com,4,2,1,0,4,0,4,4,4
47,anggaistighfar@gmail.com,4,2,1,4,4,4,4,4,4
48,patrapembinaan@gmail.com,4,0,0,0,0,0,0,0,0
49,bagus6705@gmail.com,4,0,0,4,0,0,0,0,0
50,gustrindah@gmail.com,4,TIDAK IKUT DV,None,0,0,0,0,0,0
51,faiz.faisal.ahmad@gmail.com,0,0,0,4,0,0,0,0,0
52,akbar.ilham.rml@gmail.com,0,0,0,0,0,0,0,0,0
53,nazridiridhoi@gmail.com,0,0,0,0,0,0,0,0,0
54,lazuardi.pramadia@outlook.com,0,0,0,0,0,0,0,0,0

# Quiz

**Quiz Input :**

 - `'P4DS'` : 1. Q: Programming for Data Science (P4DS) & Practical Statistic (PS)
 - `'DV'` : 2. Q: Data Visualization (DV)
 - `'IP'` : 3. Q: Interactive Plotting (IP)

In [24]:
from assets import classcode

classworks = []

service = build('classroom', 'v1', credentials=creds)

response = service.courses().courseWork().list(
    courseId=course_id).execute()
classworks.extend(response.get('courseWork', []))

quiz_input = input("Enter Course Name: ")
quiz_id = None

for classwork in classworks:
    if classwork['title'] == classcode(quiz_input):
        quiz_id = classwork['id']
        break

if quiz_id == None:
    raise Exception(f"Quiz not found")
else:
    print(f"{classwork['title']} Quiz was found")

2. Q: Data Visualization (DV) Quiz was found

**Draft Grade**

In [27]:
from assets import quizcode

submissions = []
draft = []

response = service.courses().courseWork().studentSubmissions().list(
    courseId=course_id,
    courseWorkId=quiz_id).execute()
submissions.extend(response.get('studentSubmissions', []))

for submission in submissions:
  submission_profile = service.courses().students().get(courseId=course_id, userId=submission['userId']).execute()
  submission_email = None
  
  student_df = df.loc[df['Email'] == submission_profile['profile']['emailAddress']]
  if not student_df.empty:
    submission_grade = student_df['grade2'].values[0]
  else :
    print(f"WARNING: {submission_profile['profile']['name']['fullName']} ({submission_profile['profile']['emailAddress']}) was not found")
    draft.append([submission_profile['profile']['name']['fullName'], None, "NOT FOUND"])
    continue

  studentSubmission = {
    'draftGrade': str(submission_grade)
  }

  response = service.courses().courseWork().studentSubmissions().patch(
      courseId=course_id,
      courseWorkId=classwork['id'],
      id=submission['id'],
      updateMask='draftGrade',
      body = studentSubmission ).execute()
  
  draft.append([submission_profile['profile']['name']['fullName'], submission_grade, "GRADED"])

draft_df = pd.DataFrame(draft, columns=['Name', 'Grade', 'Status'])
draft_df

WARNING: Arkana Yudhistira (arkana.yudhistira@gmail.com) was not found

                        Name Grade     Status
0          Arkana Yudhistira  None  NOT FOUND
1               Kevin Wibowo     2     GRADED
2      Diva Kartika Larasati     2     GRADED
3  Yusuf Rafsanjani (Yusraf)     2     GRADED

In [28]:
confirmation = input('Return grades? [y]/[n] : ')
if confirmation.lower() == 'y':
    print("Returning student's grades")
else :
    raise Exception("Return cancelled")

Returning student's grades

**Return Grades**

In [30]:
try:
    for submission in submissions:
        submission_profile = service.courses().students().get(courseId=course_id, userId=submission['userId']).execute()
        submission_email = None
        
        student_df = df.loc[df['Email'] == submission_profile['profile']['emailAddress']]
        if not student_df.empty:
            submission_grade = student_df['grade2'].values[0]
        else:
            continue

        studentSubmission = {
            'assignedGrade': str(submission_grade)
        }

        response = service.courses().courseWork().studentSubmissions().patch(
            courseId=course_id,
            courseWorkId=classwork['id'],
            id=submission['id'],
            updateMask='assignedGrade',
            body = studentSubmission).execute()
    
    print('Quiz grades was successfully returned')

except HttpError as error:
    print(error)

Quiz grades was successfully returned